# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Backend
backend/target/

backend/src/main/resources/application.properties
backend/src/main/resources/application-dev.properties
backend/src/main/resources/application-prod.properties

# Frontend
frontend/node_modules/
frontend/dist/

frontend/.env
frontend/.env.development
frontend/.env.production
backend/src/main/resources/application-test.properties
